<!DOCTYPE html>
<html>
<head>
 <% include ./partials/head %>
 <title>Hasil Pencarian Artikel</title>
</head>

<body id="home" class="scrollspy">
  <% include ./partials/headerNN %>

  <!-- disini untuk membuat gambar slider (slideshow) -->
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="../images/portfolio/14.png"> 
        <div class="caption center-align">
          <h1 class="light grey-text text-lighten-3">ARTIKEL DARI DESA-DESA</h1>
          <h4 class="light grey-text text-lighten-3">Kota Batu, Jawa Timur</h4s>
          </div>
        </li>
      </ul>
    </div>

    <!-- Disini untuk membuat kumpulan artikel -->
    <section id="artikel" class="Artikel grey lighten-4 scrollspy">
      <div class="container">
       <div>       
        <% if (postingan!=0) { %>
        <% for(var i = 0; i < postingan.length; i++) { %>
        <% if (i%2 == 0) { %>
        <div class="row">
          <div class="col m6">
            <h4 ><a href="/baca/<%= postingan[i].idArtikel %>" >Artikel dari <%= postingan[i].desa %></a></h4>
            <p><%= postingan[i].tentang%></p>
            <div class="card">
              <div class="card-image">
                <img class="activator" id="cardpost" src="/images/uploaded/<%=postingan[i].foto%>">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= postingan[i].judul %><i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= postingan[i].judul %><i class="material-icons right">close</i></span>
                <p style="text-align: justify;"><%= postingan[i].postingan%></p>
              </div>
            </div>
            <p>Diposting pada <%= postingan[i].tanggal.toLocaleDateString()%></p>  
          </div>
          <% } else { %>
          <div class="col s12 m6">
            <h4 ><a href="/baca/<%= postingan[i].idArtikel %>">Artikel dari <%= postingan[i].desa %></a></h4>
            <p><%= postingan[i].tentang%></p>
            <div class="card">
              <div class="card-image">
                <img class="activator" id="cardpost" src="/images/uploaded/<%=postingan[i].foto%>">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= postingan[i].judul %><i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= postingan[i].judul %><i class="material-icons right">close</i></span>
                <p style="text-align: justify;"><%= postingan[i].postingan%></p>
              </div>
            </div> 
            <p>Diposting pada <%= postingan[i].tanggal.toLocaleDateString()%></p>  
          </div>  
        </div>

        <% } %>
        <% } %>
        <% } else {%>
        <h4 style="text-align: center; color: red;">KATA YANG ANDA CARI TIDAK ADA DALAM ARTIKEL DESA</h4>
        <% } %>
      </div>
    </div> 
  </section>

  <!-- ini untuk footer -->
  <footer class="page-footer indigo darken-2">
    <% include ./partials/footer %>
  </footer>






  <script type="text/javascript" src="../js/materialize.min.js"></script>
  <script>

    M.AutoInit();

    const slider = document.querySelectorAll('.slider');
    M.Slider.init(slider, {
      indicators:false,
      interval:7000,
      duration:500, 
      height:480 
    });


    const materialbox= document.querySelectorAll('.materialboxed');
    M.Materialbox.init(materialbox);

    const scroll = document.querySelectorAll('.scrollspy');
    M.ScrollSpy.init(scroll, {
      scrollOffset: 50
    });  

  </script>  
</body>