 <!DOCTYPE html>
 <html>
 <head>
  <% include ./partials/head %>
  <title>TAMBAH ARTIKEL DESA</title>
</head>

<body id="home" class="scrollspy">
  <!-- Ini untuk navbar -->

  <section id="postingan" class="komentar grey lighten-3">
    <div class="">
      <h3 class="light grey-text text-darken-3 center">Ubah Artikel</h3>
      <div class="container">
        <div style="float: right;">
         <a href="/posting#kelola"><button>X</button></a>
       </div>
       <form action="/ubahartikel" method="POST" enctype="multipart/form-data">
        <div class="card-panel">
          <!-- <form class="col s12"> -->
            <div class="row">
              <div class="input-field col s6">
                <input id="desa" name="desa" type="text" value="<%= postingan[0].desa %>">

              </div>
              <div class="row" style="visibility: hidden;">
              <div class="hidden input-field col s6">
                <input id="id" name="id" type="text" value="<%= postingan[0].idArtikel %>">
                <label for="id">Id Artikel</label>
              </div></div>
            </div>

            
            <div class="row">
              <div class="input-field col s6">
                <input id="judul" name="judul" type="text" value="<%= postingan[0].judul %>">
                <label for="judul">Judul</label>
              </div></div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="tentang" name="tentang" type="text" value="<%= postingan[0].tentang %>" >
                  <label for="tentang">Tentang</label>
                </div></div>

                <div class="file-field input-field">
                  <div class="btn indigo orange accent-4">
                    <span>Foto</span>
                    <input type="file" id="filetoupload" name="filetoupload" multiple value="<%= postingan[0].foto %>">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload foto">
                  </div>
                </div>


                <div class="input-field col s12">
                  <textarea id="artikel" name="artikel" class="materialize-textarea" data-length="1000"><%= postingan[0].postingan %></textarea>
                  <label for="artikel">Artikel</label>
                </div>

                <button class="btn waves-effect waves-light orange accent-4" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>

              </div>
            </form>            
          </div>
        </div>
      </section>









      <script type="text/javascript" src="../js/materialize.min.js"></script>
      <script>
        $(document).ready(function () {
          var val = $.trim($("textarea").val());
          if (val != "") {
            alert(val);
          }
        });


        M.AutoInit();

        const sideNav = document.querySelectorAll('.sidenav');
        M.Sidenav.init(sideNav);

        const slider = document.querySelectorAll('.slider');
        M.Slider.init(slider, {
          indicators:false,
          interval:7000,
          duration:500, 
          height:480 
        });
        const parallax= document.querySelectorAll('.parallax');
        M.Parallax.init(parallax); 

        const materialbox= document.querySelectorAll('.materialboxed');
        M.Materialbox.init(materialbox);

        const scroll = document.querySelectorAll('.scrollspy');
        M.ScrollSpy.init(scroll, {
          scrollOffset: 50
        });


      </script>
    </body>
    </html>